
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    height: 170px;
    background-color: #eee; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.container {
    text-align: center;
}


.logo {
    width: 150px; 
    margin-bottom: 10px;
}


.slogan {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}


.btn {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: #bdbdbd;
    color: #368055; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #888;
}
.btn a {
    color: #368055;
    text-decoration: none;
}